
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

#channelselectors {
    margin-bottom: 10px;
}

#fromchannel,
#tochannel {
    width: 5em;
    height: 30px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    border: 1px dotted #444;
    background-color: #eee;
    margin-right: 10px;
}

#page-mod-bitcode-view label {
    font-family: 'Droid Sans';
    width: auto;
    height: 30px;
    margin: 10px;
    font-size: 16px;
}

#tochannellabel, #fromchannellabel {
    font-style: italic;
}

#to {
}

#from, #to {
    width: 95%;
    height: 200px;
    overflow: auto;
    padding: 10px;
    background-color: #eee;
    
    font-family: monospace;
    font-size: 40px;

    border: 1px dotted #444;
    word-wrap: break-word;
    margin-bottom: 20px;

}
